{% extends 'Layout 1 Column' %}
{% block main %}
{% include 'safeAjax' %}

<style>
.img-container {
    text-align: center;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
</style>
<div id="linksTable">
</div>

<script>
    var cre1b_Link_Contact_Contact = [];

    function getLinks() {
        webapi.safeAjax({
            type: "GET",
            url: "/_api/cre1b_links?$select=cre1b_imageurl,cre1b_name,cre1b_url",
            contentType: "application/json",
            success: function (data, textStatus, xhr) {
                var result = data;
                var $table = $("<table class=\"styled-table\">");
                console.log(result);
                $table.append("<thead>").children('thead').append("<tr />").children('tr').append("<th>Name</th><th>Add as favourite?(Y/N)</th>");
                var $tbody = $table.append('<tbody />').children('tbody');
                for (var i = 0; i < result.value.length; i++) {
                    // Columns
                    var cre1b_linkid = result.value[i]["cre1b_linkid"]; // Guid
                    var cre1b_imageurl = result.value[i]["cre1b_imageurl"]; // Text
                    var cre1b_name = result.value[i]["cre1b_name"]; // Text
                    var cre1b_url = result.value[i]["cre1b_url"]; // Text
                    $tbody.append('<tr />').children('tr:last')
                    .append("<td><a href=\"" + cre1b_url + "\">"+ cre1b_name +"<div class=\"img-container\"><img src=\"" + cre1b_imageurl + "\" height=100 width=100></img></div></a></td>")
                    .append("<td><input type=\"checkbox\" id=\"" + cre1b_name + "\" onchange=\"include('" + cre1b_name + "', '" + cre1b_linkid + "')\"></td>");
                }
                getUserLinks();
                $table.appendTo("#linksTable");
            }
        });
    }

    function getUserLinks() {
        var contactId = "{{user.id}}";
        webapi.safeAjax({
            type: "GET",
            url: "/_api/contacts(" + contactId + ")?$select=fullname&$expand=cre1b_Link_Contact_Contact($select=cre1b_name)",
            contentType: "application/json",
            success: function (data, textStatus, xhr) {
                var result = data;
                console.log(result);
                // Columns
                var contactid = result["contactid"]; // Guid
                
                // Many To Many Relationships
                for (var j = 0; j < result.cre1b_Link_Contact_Contact.length; j++) {
                    var checkboxId = "#" + result.cre1b_Link_Contact_Contact[j]["cre1b_name"]; // Text
                    console.log(checkboxId);
                    $(checkboxId).prop("checked", true );
                }
            }
        });
    }

    $(function() {
        getLinks();
    });

    function include(id, guid)
    {
        var portalUri = "https://gfudev.powerappsportals.com";
        var contactId = "{{user.id}}";
        var checkboxId = "#" + id;

        var association = {
            "@odata.id": portalUri + "/_api/cre1b_links(" + guid + ")"
        };

        var isChecked = $(checkboxId).is(':checked');

        if (isChecked) {
            console.log("Associate record " + guid);
            webapi.safeAjax({
                type: "POST",
                contentType: "application/json",
            url:"/_api/contacts(" + contactId + ")/cre1b_Link_Contact_Contact/$ref",
                data: JSON.stringify(association),
                success: function (data, textStatus, xhr) {
                    console.log("Success");
                }
            });
        }
        else {
            console.log("Disassociate record " + guid);
            webapi.safeAjax({
                type: "DELETE",
                url: "/_api/contacts(" + contactId + ")/cre1b_Link_Contact_Contact(" + guid + ")/$ref",
                contentType: "application/json",
                success: function (data, textStatus, xhr) {
                    console.log("Success");
                }
            });
        }
    }
</script>
{% endblock %}