<div class="wrapper-body">
  <div class="container">
  <div class="page-heading">
    {% block breadcrumbs %}
      {% include 'Breadcrumbs'%}
    {% endblock %}
    {% block title %}
      {% include 'Page Header' %}
    {% endblock %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
      {% block main %}
        {% include 'Page Copy' %}
        <div id="root"></div>
        <script src="main.js"></script>
        <script src="131.main.js"></script>
      {% endblock %}
    </div>
  </div>
</div>
<div class="push"></div>
</div>